tr{
width:500px;
}

td{
font-weight: bold;
width:100px;
height:25px;
text-align:center;
}

.title{
font-weight: bold;

}


textarea{
background-color: #002200;
color: #ccffcc;
}

.cardLocation{
width: 100px;
background-color:#0a1c01;
color: #B4FF95;
}