/* Add additional stylesheets below
-------------------------------------------------- */
@font-face {
	font-family: titleFont;
	src: url(KTF-Roadstar.ttf);
}

body {
    margin: 2%;
    background: url("greenBackground.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Century Gothic, Trebuchet MS, Comic Sans MS;
    font-weight: bold;

}

h1 {
    text-align: center;
    font-family: titleFont;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 300%;
    text-shadow: 0 0 0.2em #FFFFFF, 0 0 1em #BDFFA3;
}

#container {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

#score {
    margin-left: 570px;
    margin-top: 100px;
    font-size: 200%;
}

/* Title: Column 0, 1, 2, 3 */
.title {
    color: #021F03;
}

/* Input box */
input[type="text"] {
    width: 50px;
    margin: 5px;
}


#largeTable {
    display: block;
    width: 560px;
    float: left;
   }


/* Each column */
table {
    width: 120px;
    margin: 5px;
}



button {
    margin: 5px;
}

#moveBox {
    margin-left: 12%;
    float: left;
}

/* Deal button */
#dealButton {

	background-color:#000000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #164200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:11px 37px;
	text-decoration:none;
	margin-top: 250px;
}

#dealButton:hover {
	background-color:#ffffff;
	color: #000000;
}

#dealButton:active {
	position:relative;
	top:1px;
}

/* Remove Button */
.remove, #moveButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color:#0a1c01;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.remove:hover, #moveButton:hover {
	background-color:#000000;
}

.remove:active, #moveButton:active {
	position:relative;
	top:1px;
}
/* Add additional stylesheets below
-------------------------------------------------- */

